<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Category</title>
</head>
<body>
    <h3>Add Category</h3>
    <form action="/add-category" method="POST">
        <table>
            <tr>
                <th>New Category:</th><td><input type="text" name="category" required></td>
            </tr>
        </table>
        <br><br>
        <button type="submit">Add Category</button> 
    </form>
    <br><br>
    <a href="/category">Back to Category List</a>
<br><br>
    <% if(msg==="Failure"){%>
        <p>Error adding category</p>
    <%} else if(result && result.categoryName){ %>
        <p> Category has been added successfully.</p>
        Category: <%= result.categoryName %><br>
    <%} %>
    
</body>
</html>