<html>
<head>
  <title>Category List</title> <!-- Title displayed in the browser tab -->
</head>
<body>

  <!-- EJS conditional block: Check if there are any category list -->
  <% if (CategoryList.length === 0) { %>
    <p>No categories yet.</p> <!-- Message when there is no category -->
  <% } else { %>

    <h2>Category List</h2>
    <!-- EJS loop to render each category -->
    <% CategoryList.forEach(i => { %>
        <p><strong><%= i.categoryName %></strong></p> 
      <hr>
    <% }); %>
  <% } %>
  <br>
  <a href="/add-category">Add Category</a>
  <br>
  <a href="/edit-category">Edit Category</a>
</body>
</html>