 <style>
    body { margin-left: 80px; margin-right: 80px; 
   
    font-family: "Times New Roman", Times, serif;}
  </style>
  
<h1>Edit Bookmark</h1>

<h3><%= bookmark.recipeId.title %></h3>

<form action="/bookmark/update" method="POST">
    <input type="hidden" name="bookmarkId" value="<%= bookmark._id %>">
    <p>Category: <%= bookmark.category.categoryName %></p>
        
    <br><br>
    <label>Note:</label><br>
    <textarea name="note" cols="80" rows="5"><%= bookmark.note %></textarea>
    <br><br>
    <button type="submit">Update Bookmark</button>
</form>