<html>
<head>
  <title>Edit Category</title> <!-- Title displayed in the browser tab -->
</head>
<body>

  <% if (CategoryList.length === 0) { %>
    <p>No category yet.</p> 
  <% } else { %>
    <h2>Category List</h2>
    <% CategoryList.forEach(i => { %>
        <p><strong>Category: <%= i.categoryName %></strong></p>     
        <a href="/update-category?id=<%= i._id %>">Edit</a> 
      <hr>
    <% }); %>
    
  <% } %>
     
</body>
</html>
