<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <style>
    body { margin-left: 80px; margin-right: 80px; 
   
    font-family: "Times New Roman", Times, serif;}
  </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Reciepe Page</h1>
    <a href="/register">New User</a>
    <br>
     <a href="/login">Current User</a>
</body>
</html>