<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update & Delete Category</title>
</head>
<body>
    <h3>Update or Delete Category </h3>
        <form action="/update-category" method="POST">
        <input type="hidden" name="id" value="<%= result._id %>">
        <input type="text" name="category" value="<%= result.categoryName %>">
        <button type="submit">Update Category</button>
        </form>
        <br><br>
        <form action="/delete-category" method="POST">
        <input type="hidden" name="id" value="<%= result._id %>">
        <button type="submit">Delete Category</button>
        </form>
        <a href="/edit-category">Back to Category List</a>
</body>
</html>
